<div class="footer-area pt-100 pb-75 position-relative z-1">
    <div class="container">
        <div class="row">
            <div class="footer-widget single-footer-widget mb-25 col  auto widget_atar_footer_info">
                <div class="logo d-inline-block text-decoration-none">
                    <a href="https://themes.hibotheme.com/atar/">
                        <%= vite_image_tag('images/atar/white-logo.png', decoding: "async") %>
                    </a>
                </div>

                <p>Your best AI assistant in creative & tech world.</p>

            </div>
            <div class="footer-widget single-footer-widget mb-25 col  auto widget_nav_menu">
                <h3 class="footer-widget-title fw-medium">Solutions</h3>
                <div class="menu-footer-menu-two-container">
                    <ul id="menu-footer-menu-two" class="menu">
                        <li id="menu-item-43"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a
                                >AI Image Generator</a></li>
                        <li id="menu-item-44"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a
                                >AI Chatbot Assistant</a></li>
                        <li id="menu-item-45"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a
                                >AI News</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-widget single-footer-widget mb-25 col  auto widget_nav_menu">
                <h3 class="footer-widget-title fw-medium">About Us</h3>
                <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu">
                        <li id="menu-item-42"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a
                                href="https://themes.hibotheme.com/atar/about/">About</a></li>
                        <li id="menu-item-40"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a
                                href="https://themes.hibotheme.com/atar/contact-us/">Contact Us</a></li>
                        <li id="menu-item-41"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a
                                href="https://themes.hibotheme.com/atar/pricing/">Pricing</a></li>
                        <li id="menu-item-39"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a
                                href="https://themes.hibotheme.com/atar/privacy-policy-2/">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-widget single-footer-widget mb-25 col  auto widget_atar_footer_social">
                <h3 class="footer-widget-title fw-medium">Social</h3>
                <ul class="import-link ps-0 mb-0 list-unstyled">
                    <li>
                        <a >Facebook</a>
                    </li>
                    <li>
                        <a >Twitter</a>
                    </li>
                    <li>
                        <a >LinkedIn</a>
                    </li>
                    <li>
                        <a >Instagram</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="shape2 position-absolute z-n1">
        <%= vite_image_tag('images/atar/shape2.png') %>
    </div>
</div>

<div class="copyright-area text-center">
    <div class="container">
        <p>© <span class="fw-bold">Atar</span> Theme, All rights reserved by <a class="text-decoration-none fw-bold"
                href="https://hibotheme.com/" target="_blank" rel="noopener">LeVan</a></p>
    </div>
</div>