<nav class="navbar navbar-expand-lg navbar-style-two atar-white ">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://themes.hibotheme.com/atar/">
            <%= vite_image_tag('images/atar/logo.png') %>
        </a>
        <a class="navbar-toggler text-decoration-none" data-bs-toggle="offcanvas" href="index.html#navbarOffcanvas"
            role="button" aria-controls="navbarOffcanvas">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="menu-primary-menu" class="navbar-nav">
                <li id="menu-item-583"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children dropdown active menu-item-583 nav-item">
                    <a title="Home"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-icon nav-link" id="menu-item-dropdown-583">Home</a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-583" role="menu">
                        <li id="menu-item-14"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-14 nav-item">
                            <a title="AI Image Generator" href="https://themes.hibotheme.com/atar/"
                                class="dropdown-item">AI Image Generator</a></li>
                        <li id="menu-item-584"
                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-578 current_page_item active menu-item-584 nav-item">
                            <a title="AI Chatbot" href="index.html" class="dropdown-item">AI Chatbot</a></li>
                        <li id="menu-item-740"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-740 nav-item"><a
                                title="Ai News" href="https://themes.hibotheme.com/atar/ai-news/"
                                class="dropdown-item">Ai News</a></li>
                    </ul>
                </li>
                <li id="menu-item-33"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-33 nav-item">
                    <a title="Pages"  data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-icon nav-link" id="menu-item-dropdown-33">Pages</a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-33" role="menu">
                        <li id="menu-item-32"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 nav-item"><a
                                title="About" href="https://themes.hibotheme.com/atar/about/"
                                class="dropdown-item">About</a></li>
                        <li id="menu-item-31"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31 nav-item"><a
                                title="Team" href="https://themes.hibotheme.com/atar/team/"
                                class="dropdown-item">Team</a></li>
                        <li id="menu-item-340"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340 nav-item"><a
                                title="Services" href="https://themes.hibotheme.com/atar/services/"
                                class="dropdown-item">Services</a></li>
                        <li id="menu-item-500"
                            class="menu-item menu-item-type-post_type menu-item-object-service menu-item-500 nav-item">
                            <a title="Service Details"
                                href="https://themes.hibotheme.com/atar/service-post/ai-image-generator/"
                                class="dropdown-item">Service Details</a></li>
                        <li id="menu-item-365"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365 nav-item"><a
                                title="Portfolio" href="https://themes.hibotheme.com/atar/portfolio/"
                                class="dropdown-item">Portfolio</a></li>
                        <li id="menu-item-30"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30 nav-item"><a
                                title="Faqs" href="https://themes.hibotheme.com/atar/faqs/"
                                class="dropdown-item">Faqs</a></li>
                        <li id="menu-item-38"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38 nav-item"><a
                                title="Privacy Policy" href="https://themes.hibotheme.com/atar/privacy-policy-2/"
                                class="dropdown-item">Privacy Policy</a></li>
                        <li id="menu-item-389"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389 nav-item"><a
                                title="Terms &amp; Conditions"
                                href="https://themes.hibotheme.com/atar/terms-conditions/" class="dropdown-item">Terms
                                &amp; Conditions</a></li>
                    </ul>
                </li>
                <li id="menu-item-29"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 nav-item"><a
                        title="Pricing" href="https://themes.hibotheme.com/atar/pricing/" class="nav-link">Pricing</a>
                </li>
                <li id="menu-item-34"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-34 nav-item">
                    <a title="Blog"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-icon nav-link" id="menu-item-dropdown-34">Blog</a>
                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-34" role="menu">
                        <li id="menu-item-28"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28 nav-item"><a
                                title="Blog" href="https://themes.hibotheme.com/atar/blog/"
                                class="dropdown-item">Blog</a></li>
                        <li id="menu-item-543"
                            class="menu-item menu-item-type-post_type menu-item-object-post menu-item-543 nav-item"><a
                                title="Blog Details"
                                href="https://themes.hibotheme.com/atar/2023/08/08/high-value-applications-of-computer-vision-2/"
                                class="dropdown-item">Blog Details</a></li>
                    </ul>
                </li>
                <li id="menu-item-27"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27 nav-item"><a
                        title="Contact Us" href="https://themes.hibotheme.com/atar/contact-us/" class="nav-link">Contact
                        Us</a></li>
            </ul>
        </div>
        <div class="others-option d-flex align-items-center">
            <div class="option-item">
                <div class="search-btn">
                    <button type="button" class="search-btn bg-transparent border-0 lh-1 p-0 position-relative"
                        data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="flaticon-search"></i>
                    </button>
                </div>
            </div>

            <%= render partial: 'layouts/shared/btn_login' %>
        </div>
    </div>
</nav>
