nav.navbar.navbar-expand-lg.navbar-style-two.atar-white
  .container-fluid
    a.navbar-brand[href="#{root_path}"]
      = vite_image_tag('images/atar/logo.png')
    a.navbar-toggler.text-decoration-none[data-bs-toggle="offcanvas" href="index.html#navbarOffcanvas" role="button" aria-controls="navbarOffcanvas"]
      span.burger-menu
        span.top-bar
        span.middle-bar
        span.bottom-bar
    #navbarSupportedContent.collapse.navbar-collapse
      ul#menu-primary-menu.navbar-nav
        li#menu-item-583.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.dropdown.active.menu-item-583.nav-item
          a#menu-item-dropdown-583.dropdown-icon.nav-link[title="Home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            | Home
          ul.dropdown-menu[aria-labelledby="menu-item-dropdown-583" role="menu"]
            li#menu-item-14.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-14.nav-item
              a.dropdown-item[title="AI Image Generator" href="#{root_path}"]
                | AI Image Generator
            li#menu-item-584.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-578.current_page_item.active.menu-item-584.nav-item
              a.dropdown-item[title="AI Chatbot" href="index.html"]
                | AI Chatbot
            li#menu-item-740.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-740.nav-item
              a.dropdown-item[title="Ai News" href=""]
                | Ai News
        li#menu-item-33.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.dropdown.menu-item-33.nav-item
          a#menu-item-dropdown-33.dropdown-icon.nav-link[title="Pages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            | Pages
          ul.dropdown-menu[aria-labelledby="menu-item-dropdown-33" role="menu"]
            li#menu-item-32.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-32.nav-item
              a.dropdown-item[title="About" href=""]
                | About
            li#menu-item-31.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-31.nav-item
              a.dropdown-item[title="Team" href=""]
                | Team
            li#menu-item-340.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-340.nav-item
              a.dropdown-item[title="Services" href=""]
                | Services
            li#menu-item-500.menu-item.menu-item-type-post_type.menu-item-object-service.menu-item-500.nav-item
              a.dropdown-item[title="Service Details" href=""]
                | Service Details
            li#menu-item-365.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-365.nav-item
              a.dropdown-item[title="Portfolio" href=""]
                | Portfolio
            li#menu-item-30.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-30.nav-item
              a.dropdown-item[title="Faqs" href=""]
                | Faqs
            li#menu-item-38.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-38.nav-item
              a.dropdown-item[title="Privacy Policy" href=""]
                | Privacy Policy
            li#menu-item-389.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-389.nav-item
              a.dropdown-item[title="Terms &amp; Conditions" href=""]
                | Terms & Conditions
        li#menu-item-29.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-29.nav-item
          a.nav-link[title="Pricing" href=""]
            | Pricing
        li#menu-item-34.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.dropdown.menu-item-34.nav-item
          a#menu-item-dropdown-34.dropdown-icon.nav-link[title="Blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            | Blog
          ul.dropdown-menu[aria-labelledby="menu-item-dropdown-34" role="menu"]
            li#menu-item-28.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-28.nav-item
              a.dropdown-item[title="Blog" href=""]
                | Blog
            li#menu-item-543.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-543.nav-item
              a.dropdown-item[title="Blog Details" href=""]
                | Blog Details
        li#menu-item-27.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-27.nav-item
          a.nav-link[title="Contact Us" href=""]
            | Contact Us
    .others-option.d-flex.align-items-center
      .option-item
        .search-btn
          button.search-btn.bg-transparent.border-0.lh-1.p-0.position-relative[type="button" data-bs-toggle="modal" data-bs-target="#searchModal"]
            i.flaticon-search
      = render partial: 'layouts/shared/btn_login'
