<!-- Start Responsive Navbar Area -->
<div class="responsive-navbar offcanvas offcanvas-end border-0 " data-bs-backdrop="static" tabindex="-1"
    id="navbarOffcanvas">
    <div class="offcanvas-header">
        <a class="logo d-inline-block" href="https://themes.hibotheme.com/atar/">
            <%= vite_image_tag('images/atar/white-logo.png') %>
        </a>
        <button type="button" class="close-btn bg-transparent position-relative lh-1 p-0 border-0"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <ul id="menu-primary-menu-1" class="navbar-nav">
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-583">
                <a >Home</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-14"><a
                            href="https://themes.hibotheme.com/atar/">AI Image Generator</a></li>
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-578 current_page_item menu-item-584">
                        <a href="index.html" aria-current="page">AI Chatbot</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-740"><a
                            href="https://themes.hibotheme.com/atar/ai-news/">Ai News</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-33"><a
                    >Pages</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a
                            href="https://themes.hibotheme.com/atar/about/">About</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a
                            href="https://themes.hibotheme.com/atar/team/">Team</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a
                            href="https://themes.hibotheme.com/atar/services/">Services</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-service menu-item-500"><a
                            href="https://themes.hibotheme.com/atar/service-post/ai-image-generator/">Service
                            Details</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365"><a
                            href="https://themes.hibotheme.com/atar/portfolio/">Portfolio</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a
                            href="https://themes.hibotheme.com/atar/faqs/">Faqs</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                            href="https://themes.hibotheme.com/atar/privacy-policy-2/">Privacy Policy</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-389"><a
                            href="https://themes.hibotheme.com/atar/terms-conditions/">Terms &amp; Conditions</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a
                    href="https://themes.hibotheme.com/atar/pricing/">Pricing</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34"><a
                    >Blog</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a
                            href="https://themes.hibotheme.com/atar/blog/">Blog</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-543"><a
                            href="https://themes.hibotheme.com/atar/2023/08/08/high-value-applications-of-computer-vision-2/">Blog
                            Details</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a
                    href="https://themes.hibotheme.com/atar/contact-us/">Contact Us</a></li>
        </ul>
        <div class="others-option d-flex align-items-center">
            <div class="option-item">
                <div class="search-btn">
                    <button type="button" class="search-btn bg-transparent border-0 lh-1 p-0 position-relative"
                        data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="flaticon-search"></i>
                    </button>
                </div>
            </div>
            <div class="option-item">
                <a href="https://themes.hibotheme.com/atar/contact-us/" class="default-btn">
                    Get Strated <i class="flaticon-plus-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Responsive Navbar Area -->
