<div class="modal fade searchModal atar-white " id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="search" method="get" id="search1" action="https://themes.hibotheme.com/atar/"
                class="position-relative">
                <input type="text" value="" name="s" id="s2" required class="input-search d-block w-100 bg-transparent"
                    placeholder="Search here...">
                <button type="submit" class="border-0 p-0"><i class="flaticon-search"></i></button>
            </form>
            <button type="button" class="btn-close rounded-0 p-0 w-auto h-auto" data-bs-dismiss="modal"
                aria-label="Close">
                <i class="flaticon-close-1"></i>
            </button>
        </div>
    </div>
</div>