.border-t {
  background: white;
  border-top: 1px solid rgb(228, 228, 231);
}
.border-0 {
  border: 0 solid #e5e7eb;
}
.border-none {
  border: none;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
