@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import "./projects/utils/variables.scss";
@import "./projects/utils/background.scss";
@import "./projects/utils/border.scss";
@import "./projects/utils/common.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "@tabler/icons-webfont/tabler-icons.min.css";
@import "./projects/site.scss";
@import "./projects/media.scss";
@import "./projects/chatbot.scss";
@import "./projects/chat-interface.scss";
@import "./projects/form.scss";

.page-editor-project {
  form {
    .fade:not(.show) {
      opacity: 0;
      display: none;
    }
  }
}

.btn-logout {
  width: 84%
}