a.sidebar-link(href="#{project_upgrades_path}" aria-expanded="false" style="position: absolute; right: 100px;")
  button#upgrade-btn.btn.btn-outline-info.m-1.d-flex.align-items-center.p-2(type="button")
    i#crown.ti.ti-crown.fs-6.me-1.text-warning
    | Upgrade
