<section
                        class="elementor-section elementor-top-section elementor-element elementor-element-bec7a01 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="bec7a01" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80393f8"
                                data-id="80393f8" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-baab0c8 elementor-widget elementor-widget-Atar_Automation"
                                        data-id="baab0c8" data-element_type="widget"
                                        data-widget_type="Atar_Automation.default">
                                        <div class="elementor-widget-container">

                                            <div class="automation-area ptb-120 atar-white position-relative z-1">
                                                <div class="container">
                                                    <div class="row" data-cues="slideInUp">
                                                        <div class="col-xl-3 col-lg-3 col-md-12">
                                                            <div class="automation-content">
                                                                <span class="sub-title d-block fw-medium">
                                                                    AUTOMATION </span>
                                                                <h2>
                                                                    Automate the conversations with the power of AI
                                                                </h2>
                                                                <a href="https://themes.hibotheme.com/atar/contact-us/"
                                                                    class="default-btn two">
                                                                    Try Atar Chatbot <i class="flaticon-next"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-5 col-md-12">
                                                            <div class="automation-image text-center">
                                                                <video autoplay loop muted playsinline>
                                                                    <source src="../images/atar/automation.m4v"
                                                                        type="video/mp4">
                                                                </video>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-md-12">
                                                            <div class="automation-text">
                                                                <div class="shape5">
                                                                    <%= vite_image_tag('images/atar/shape5.png', decoding: "async") %>
                                                                </div>
                                                                <p>Atar Chatbot is a complete customer service platform
                                                                    that delights your customers and fuels your sales.
                                                                </p>
                                                                <p>Lorem ipsum dolor sit amet consectetur. Suspendisse
                                                                    quam nisl enim vitae elementum. Tellus tincidunt in
                                                                    congue.</p> <a 
                                                                    class="link-btn d-inline-block position-relative fw-medium text-decoration-none">
                                                                    Explore More <i class="flaticon-next"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape7 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape7.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>