                    <div class="elementor-section elementor-top-section elementor-element elementor-element-a1103c4 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="a1103c4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cb4fc60"
                                data-id="cb4fc60" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-806b15e elementor-widget elementor-widget-Atar_Post"
                                        data-id="806b15e" data-element_type="widget"
                                        data-widget_type="Atar_Post.default">
                                        <div class="elementor-widget-container">
                                            <!-- Start Blog Area -->
                                            <div class="blog-area atar-white pt-120 pb-70 position-relative z-1">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            BLOG &amp; ARTICLE </span>
                                                        <h2 class="mb-0 ms-auto me-auto">
                                                            Read our news &amp; article about AI </h2>
                                                    </div>
                                                    <div class="row justify-content-center blog-items">

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/art-are-now-linked-with-best-ai-technology-to-explore/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog3.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/art-are-now-linked-with-best-ai-technology-to-explore/"
                                                                            class="text-decoration-none">
                                                                            Art are now linked with best AI technology
                                                                            to explore </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/creating-digital-art-with-the-help-of-ai-is-a-new-trend/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog2.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/creating-digital-art-with-the-help-of-ai-is-a-new-trend/"
                                                                            class="text-decoration-none">
                                                                            Creating digital art with the help of AI is
                                                                            a new trend </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6 col-md-6">
                                                            <div class="single-blog-post">
                                                                <a href="https://themes.hibotheme.com/atar/2023/08/03/how-ai-helps-in-space-research-in-this-era/"
                                                                    class="image d-block">
                                                                    <%= vite_image_tag('images/atar/blog1.jpg', decoding: "async") %>
                                                                </a>
                                                                <div class="content">
                                                                    <ul class="meta ps-0 list-unstyled">
                                                                        <li
                                                                            class="d-inline-block position-relative fw-medium">
                                                                            <a
                                                                                href="https://themes.hibotheme.com/atar/category/tech/">TECH
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <h3>
                                                                        <a href="https://themes.hibotheme.com/atar/2023/08/03/how-ai-helps-in-space-research-in-this-era/"
                                                                            class="text-decoration-none">
                                                                            How AI helps in space research in this era
                                                                        </a>
                                                                    </h3>
                                                                    <span class="date d-block">August 3, 2023</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Blog Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>