<section
                        class="elementor-section elementor-top-section elementor-element elementor-element-9c616b1 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="9c616b1" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bd26c30"
                                data-id="bd26c30" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-ea318c5 elementor-widget elementor-widget-Atar_Choose_Two"
                                        data-id="ea318c5" data-element_type="widget"
                                        data-widget_type="Atar_Choose_Two.default">
                                        <div class="elementor-widget-container">

                                            <div
                                                class="why-choose-area atar-white bg-f8f4f9 position-relative z-1 pt-120 pb-95">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            WHY ATAR BEST </span>
                                                        <h2 class="mb-0 ms-auto me-auto mw-800">
                                                            Why is Atar the best AI chatbot software for website? </h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose4.jpg', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    <span>Self-service AI chatbots with a human
                                                                        element</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <h3>
                                                                    <span>Codeless drag-and-drop chatbot builder</span>
                                                                </h3>
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose5.jpg', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose6.jpg', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    <span>Integrations with top AI platforms</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="single-why-choose-box text-center mb-25">
                                                                <h3>
                                                                    <span>SmartBot with a one-time license</span>
                                                                </h3>
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/why-choose7.jpg', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-shape position-absolute z-n1"></div>
                                            </div>
                                            <!-- End Fun Facts Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>