                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-00658cc elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="00658cc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0f462fb"
                                data-id="0f462fb" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a970454 elementor-widget elementor-widget-Atar_Pricing"
                                        data-id="a970454" data-element_type="widget"
                                        data-widget_type="Atar_Pricing.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Pricing Area -->
                                            <div class="pricing-area atar-white position-relative z-1 pb-95">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-3 col-lg-12 col-sm-12">
                                                            <div class="section-title">
                                                                <span class="sub-title d-block fw-medium">
                                                                    PRICING </span>
                                                                <h2 class="mb-0">
                                                                    We have plans for big and small companies </h2>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Starter</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$20</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$24</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            60 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Team</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$41</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$54</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            100 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li
                                                                            class="fw-semibold position-relative inactive">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-4 col-sm-6">
                                                            <div class="single-pricing-box position-relative z-1 mb-25">
                                                                <div class="pricing-header">
                                                                    <h3 class="fw-semibold d-inline-block">Business</h3>
                                                                    <div class="price lh-1">
                                                                        <div class="fw-bold d-inline-block">$59</div>
                                                                        <span>/Month</span>
                                                                    </div>
                                                                    <p>
                                                                        billed annually <br> or <span
                                                                            class="fw-bold">$74</span> month-to-month
                                                                    </p>
                                                                </div>
                                                                <div class="pricing-features">
                                                                    <ul class="ps-0 mb-0 list-unstyled">
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            200 day chat history
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic widget customization
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Ticketing system
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Data security
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Basic reporting
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Agent groups
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Multiple brandings
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Software engineer support
                                                                        </li>
                                                                        <li class="fw-semibold position-relative">
                                                                            <i class="flaticon-tick"></i>
                                                                            Security assistant
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-footer text-center">
                                                                    <a  class="default-btn two">
                                                                        Choose Plan <i class="flaticon-next"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="shape6 position-absolute z-n1">
                                                    <%= vite_image_tag('images/atar/shape6.png', decoding: "async") %>
                                                </div>
                                            </div>
                                            <!-- End Pricing Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>