<section
                        class="elementor-section elementor-top-section elementor-element elementor-element-aea2f35 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="aea2f35" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b3e2f0"
                                data-id="2b3e2f0" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-07f3df7 elementor-widget elementor-widget-Atar_Chatbot_Two"
                                        data-id="07f3df7" data-element_type="widget"
                                        data-widget_type="Atar_Chatbot_Two.default">
                                        <div class="elementor-widget-container">

                                            <!-- Start Chatbot Area -->
                                            <div class="chatbot-area atar-white">
                                                <div class="container">
                                                    <div class="chatbot-inner-box style-two"
                                                        style="background-image:url(<%= vite_asset_path("images/atar/chatbot-bg.png") %>);">
                                                        <div class="row align-items-center">
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="content">
                                                                    <span class="sub-title d-block fw-medium">
                                                                        TRY OTHER PRODUCTS </span>
                                                                    <h2>
                                                                        We also have AI Image generator for you </h2>
                                                                    <a href="https://themes.hibotheme.com/atar/contact-us/"
                                                                        class="default-btn two">
                                                                        Try Now <i class="flaticon-plus-1"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="image text-center text-lg-end position-relative">
                                                                    <%= vite_image_tag('images/atar/chatbot2.png', decoding: "async") %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Chatbot Area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>