                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-61cdac7 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="61cdac7" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0f84370"
                                data-id="0f84370" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-02a129b elementor-widget elementor-widget-Atar_Features"
                                        data-id="02a129b" data-element_type="widget"
                                        data-widget_type="Atar_Features.default">
                                        <div class="elementor-widget-container">

                                            <div class="features-area pb-95 atar-white">
                                                <div class="container">
                                                    <div class="section-title text-center">
                                                        <span class="sub-title d-block fw-medium">
                                                            TOP FEATURES </span>
                                                        <h2 class="mb-0 ms-auto me-auto">
                                                            Special features of Atar that make it unique </h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature1.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Responsible AI from day one </h3>
                                                                <p>Reduce risk of bias by partnering with the best
                                                                    founders, spearheading standards and certifications
                                                                    for AI.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature2.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Human optimization at scale </h3>
                                                                <p>Keep conversations grounded, factual, and relevant to
                                                                    your industry with over 350K skilled humans in the
                                                                    loop.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature3.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Impactful insights made easy </h3>
                                                                <p>Accelerate better decision making with access to
                                                                    enterprise-level analytics and reporting the
                                                                    insights automatically.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12">
                                                            <div class="single-feature-box position-relative mb-25">
                                                                <div class="image">
                                                                    <%= vite_image_tag('images/atar/feature4.png', decoding: "async") %>
                                                                </div>
                                                                <h3>
                                                                    Unrivaled data at your fingertips </h3>
                                                                <p>Augment large language models with the world’s
                                                                    largest enterprise data set for more precise natural
                                                                    language processing.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>