                    <div class="elementor-section elementor-top-section elementor-element elementor-element-a0e80dc elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="a0e80dc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6be4f1e"
                                data-id="6be4f1e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bed9b5a elementor-widget elementor-widget-Atar_Video"
                                        data-id="bed9b5a" data-element_type="widget"
                                        data-widget_type="Atar_Video.default">
                                        <div class="elementor-widget-container">

                                            <div class="video-area position-relative z-1 atar-white">
                                                <div class="container">
                                                    <div class="section-title">
                                                        <span class="sub-title d-block fw-medium">
                                                            WATCH VIDEO </span>
                                                        <h2 class="mb-0 mw-820">
                                                            We have the most easy no-code chatbot support, watch video
                                                        </h2>
                                                    </div>
                                                    <div class="video-box text-center position-relative"
                                                        data-cue="slideInUp">
                                                        <%= vite_image_tag('images/atar/video.jpg', decoding: "async") %>
                                                        <a data-fslightbox="video" target="_blank"
                                                            class="video-btn text-decoration-none"
                                                            href="https://www.youtube.com/watch?v=DBHBmeNhYrY">
                                                            <i class="flaticon-play-button-arrowhead"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="shape6 position-absolute z-n1" id="shape6">
                                                    <%= vite_image_tag('images/atar/shape6.png', decoding: "async") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>