ruby:
  plans = [
    {
      name: "Free",
      price: 0,
      projects: 1,
      characters_per_project: 100000,
      messages_per_month: 40,
      image: "images/projects/pricing-basic.png",
      popular: "",
      css: {
        item: "disabled"
      }
    },
    {
      name: "Standard",
      price: 39.00,
      projects: 5,
      characters_per_project: 400000,
      messages_per_month: 4000,
      image: "images/projects/pricing-standard.png",
      popular: "popular"
    },
    {
      name: "Premium",
      price: 99.00,
      projects: 10,
      characters_per_project: 1000000,
      messages_per_month: 10000,
      image: "images/projects/pricing-premium.png",
      popular: ""
    }
  ]

.my-3
  == render 'projects/upgrades/index/page_title'

  .row
    == render partial: 'projects/upgrades/index/plan', collection: plans, as: :plan

  .row.mb-9
    == render 'projects/upgrades/index/feature'
